{# Include the hidden fields #}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{# Include the visible fields #}
{% for field in form.visible_fields %}
    <div class="fieldWrapper qcm">
        {{ field.errors }}
        {% for radio in field %}
        {% if radio.choice_label is not None %}
            <label for="{{ radio.id_for_label }}">
                <div class="wrapper">
                    {{ radio.tag }}
                    <span class="radio">{{ radio.choice_label }}</span>
                </div>
            </label>
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}