{% extends 'base.html' %}
{% load static %}

{% block title %}The Big Quiz — Index{% endblock %}

{% block header %}
    <header>
        <a href="{% url "index" %}" class="title"><img src="{% static "app/img/dice.png" %}" alt="">The Big Quiz</a>
        <nav>
            <span><a href="{% url "quiz-create" %}">Take a quiz</a></span>
            <span><a href="{% url "question-add" %}">Add question</a></span>
            <span><a href="{% url "question-list" %}">Questions</a></span>
            {% if user.is_authenticated %}
                <span>{{ user }}</span>
                <span><a href="{% url "logout" %}">logout</a></span>
            {% else %}
                <span><a href="{% url "login" %}">login</a></span>
                <span><a href="{% url "register" %}">register</a></span>
            {% endif %}
        </nav>
    </header>
    <div class="hero">
        <div class="left">
            <h1>The Big Quiz</h1>
            <div>The best data quiz out there. Hours of fun.</div>
        </div>
        <div class="right"><img src="{% static "app/img/hero-2.svg" %}" alt=""></div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-2">
        <h4>We provide</h4>
        <div class="indexCard">
            <a href="{% url "quiz-create" %}">
                <div>
                    <span>Play a quiz</span>
                    <span><img src="{% static "app/img/play.png" %}" alt=""></span>
                </div>
            </a>
            <a href="{% url "question-add" %}">
                <div>
                    <span>Add question</span>
                    <span><img src="{% static "app/img/art.png" %}" alt=""></span>
                </div>
            </a>
            <a href="{% url "question-list" %}">
                <div>
                    <span>Edit questions</span>
                    <span><img src="{% static "app/img/explore.png" %}" alt=""></span>
                </div>
            </a>
            <a href="{% url "leaderboard" %}">
                <div>
                    <span>Leaderboard</span>
                    <span><img src="{% static "app/img/control.png" %}" alt=""></span>
                </div>
            </a>
        </div>
    </div>


{% comment %}    <div class="add-question">
        <h5>Add a question</h5>
        <form method="post">
            {% csrf_token %}
            {{ create_question_form.as_p }}
            <button type="submit">Add</button>
        </form>
    </div>

    <h2>Take a quiz</h2>
    <a href="{% url "quiz-create" %}"><button>Create a quiz</button></a>{% endcomment %}

{% endblock %}