{% extends "base.html" %}

{% block content %}
    <h1>Questions</h1>
    <table>
        <thead>
        <tr>
            <td>Question</td>
            <td>Réponse A</td>
            <td>Réponse B</td>
            <td>Réponse C</td>
            <td>Réponse D</td>
            <td>Tags</td>
            <td>Opérations</td>
        </tr>
        </thead>
        <tbody>
        {% for question in object_list %}
            <tr>
                <td>{{ question.text }}</td>
                <td class="{% if question.answer == 'a' %}correct{% endif %}">{{ question.a }}</td>
                <td class="{% if question.answer == 'b' %}correct{% endif %}">{{ question.b }}</td>
                <td class="{% if question.answer == 'c' %}correct{% endif %}">{{ question.c }}</td>
                <td class="{% if question.answer == 'd' %}correct{% endif %}">{{ question.d }}</td>
                <td>{% for tag in question.tags.all %}{{ tag.slug }}{% if not forloop.last %},{% endif %}{% endfor %}</td>
                <td><a href="{% url 'question-edit' question.pk %}">edit</a> - <a href="{% url 'question-delete' question.pk %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
{% endblock %}
